.registeration {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    padding: 2em 0px;
}

.registeration__form img {
    width: 2em;
}

.text-danger {
    color: red;
}

.text-approved {
    color: green;
}