.ticket_table {
    width: 100%;
    border-collapse: collapse;
}

.ticket_table__column {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.5em;
}

.ticket_table__row:nth-child(even) {
    background-color: aliceblue;
}